@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&display=swap%27');

/* @font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf");
} */

a {
  color: inherit;
}

body {
  max-width: 1600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

button:active {
  background: #4B9200;
}

input::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #BDBDBD;
  padding-top: 10px;
  padding-left: 7px;
}

.header {
  width: 1600px;
  height: 80px;
  background: #000000;
  backdrop-filter: blur(2px);
}

.header-container {
  width: 1160px;
  height: 52px;
  display: flex;
  margin: 0 auto;
  padding-top: 14px;
}

.header-logo {
  width: 82px;
  height: 52px;
  /* background: url(../../assets/icons/logo_footer.png) no-repeat; */
}

.nav {
  width: 472px;
  height: 22px;
  margin-left: 63px;
}

.nav ul {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.nav ul li a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}


#active-page,
.nav ul li a:hover,
.layout-designer:hover,
.lower-container-02 ul li:hover {
  color: #F9804B;
}

.layout-designer {
  margin-top: 15px;
  margin-left: 438px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.watch-your-favorite-animal-online {
  /* position: relative; */
  width: 1600px;
  height: 780px;
  margin-top: -80px;
  background-image: url(../../assets/images/Giant\ Panda.jpg);
  background-repeat: no-repeat;
}

.watch-your-favorite-animal-online-title {
  position: absolute;
  bottom: 372px;
  left: 1033px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.watch-your-favorite-animal-online-title {
  position: absolute;
  width: 500px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.elipse-orange {
  margin-top: 92px;
  margin-left: 807px;
}

#favorite {
  color: #FFEE2E;
}

.watch-button {
  position: absolute;
  bottom: 260px;
  right: 470px;
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}

.the-backstage {
  width: 1600px;
  height: 503px;
  position: relative;
}

.the-backstage-container {
  width: 1161px;
  height: 403px;
  margin: 140px auto 0 auto;
  display: flex;
}

.the-backstage-text-container {
  width: 465px;
}

.the-backstage-image {
  width: 609px;
  height: 403px;
  margin-right: 87px;
}

.the-backstage-image-aside {
  width: 200px;
  height: 605px;
  position: absolute;
  bottom: 30px;
  left: 1400px;
}

.the-backstage-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  color: #333B41;
}

.the-backstage-text-01 {
  margin-top: 20px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.the-backstage-text-02 {
  margin-top: 54px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.the-backstage-text-03 {
  margin-top: 34px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.pets {
  width: 1600px;
  height: 1106px;
  position: relative;
}

.pets-container {
  width: 1322px;
  height: 872px;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.photo-cards-container {
  width: 1158px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo-cards-container img:hover::before {
  opacity: 1;
}

.photo-card-text-container {
  margin-top: 4px;
  margin-left: 16px;
}

.photo-card {
  width: 366px;
  height: 426px;
}

.photo-card img:hover {
  /* -webkit-transform: scale(1.1); */
  /* -ms-transform: scale(1.1); */
  transform: scale(1.1);
  /* transition: 1s; */
  cursor: pointer;
}

.photo-card-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: #000000;
}

.photo-card-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #000000;
}

.pets-arrow-left {
  width: 62px;
  height: 62px;
  margin-top: 403px;
  background-image: url(../../assets/icons/arrow_elips_2.svg);
  cursor: pointer;
}

.pets-arrow-left:hover,
.pets-arrow-right:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: .5s;
}

.pets-arrow-right {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  margin-top: 403px;
  background-image: url(../../assets/icons/arrow_elips_1.svg);
  cursor: pointer;
}

.photo-card-flex-container {
  display: flex;
  justify-content: space-between;
}

.icon-banana {
  width: 33px;
  height: 37px;
  margin-top: 10px;
  margin-right: 12px;
  background-image: url(../../assets/icons/banana-bamboo_icon.svg);
}

.icon-fish {
  width: 33px;
  height: 37px;
  background-image: url(../../assets/icons/meet-fish_icon.svg);
}

.button-choose {
  margin: 0 auto;
  margin-top: 80px;
  display: block;
  width: 298px;
  height: 54px;
  background: #FE9013;
  border-radius: 25px;
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.palm-foto {
  position: absolute;
  bottom: 0px;
  width: 294px;
  height: 460px;
  background-image: url(../../assets/icons/palm_foto.svg);
  background-repeat: no-repeat;
}

.strel-foto {
  position: absolute;
  bottom: 0px;
  left: 1233px;
  width: 368px;
  height: 275px;
  background-image: url(../../assets/icons/strelitzia\ 1.svg);
  background-repeat: no-repeat;
}

.pick-and-feed-a-friend {
  width: 1600px;
  height: 935px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), 
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), 
  linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
  padding-top: 69px;
}

.pick-and-feed-a-friend-container {
  width: 1160px;
  height: 835px;
  margin: 0 auto;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.pick-and-feed-a-friend-title {
  text-align: center;
  padding-top: 41px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}

.pick-and-feed-a-friend-subtitle-01 {
  margin-top: 30px;
  margin-left: 99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}

.pick-and-feed-a-friend-subtitle-02 {
  margin-top: 40px;
  margin-left: 99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.pick-and-feed-a-friend-subtitle-03 {
  margin-top: 10px;
  margin-left: 99px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #333B41;
}

.underline-gold {
  border-bottom: 1px solid #FE9013;;
}

.how-it-works-container {
  width: 764px;
  height: 445px;
  margin: 0 auto;
  margin-top: 58px;
}

.how-it-works-title {
  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #333B41;
}

.how-it-works-steps-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.how-it-works-step {
  width: 168px;
  height: 244px;
}

.how-it-works-step-subtitle {
  margin-top: 30px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #333B41;
}

.how-it-works-step-box {
  width: 168px;
  height: 168px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #F9804B;
}

.how-it-works-step-box-01 {
  width: 100%;
  height: 100%;
  /* margin-top: 54px;
  margin-left: 30px; */
  background-image: url(../../assets/icons/pay.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.how-it-works-step-box-02 {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/icons/zoo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.how-it-works-step-box-03 {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/icons/monkey.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.how-arrow {
  width: 69px;
  height: 35px;
  margin-top: 62px;
  background-image: url(../../assets/icons/Vector.svg);
}

.button-feed {
  width: 298px;
  height: 54px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  margin-top: 60px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.testimonials {
  width: 1600px;
  height: 777px;
  position: relative;
}

.testimonials-container {
  width: 1160px;
  height: 599px;
  margin: 0 auto;
  margin-top: 140px;
}

.testimonials-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  text-align: center;
  color: #333B41;
}

.testimonials-cards-container {
  width: 1160px;
  height: 391px;
  margin-top: 47px;
  display: flex;
  justify-content: space-between;
}

.testimonials-card {
  width: 268px;
  height: 391px;
  background: #F1F3F2;
  border-radius: 20px;
}

.testimonials-card-header {
  width: 268px;
  height: 52px;
  margin-top: 15px;
  margin-left: 16px;
  display: flex;
}

.testimonials-card-icon-01 {
  width: 37px;
  height: 37px;
  padding-right: 10px;
  background-image: url(../../assets/icons/user_icon.svg);
  background-repeat: no-repeat;
}

.testimonials-card-icon-02 {
  width: 37px;
  height: 37px;
  padding-right: 10px;
  background-image: url(../../assets/icons/Ellipse\ 2.svg);
  background-repeat: no-repeat;
}

.testimonials-card-icon-03 {
  width: 37px;
  height: 37px;
  padding-right: 10px;
  background-image: url(../../assets/icons/Ellipse\ 2\(1\).svg);
  background-repeat: no-repeat;
}

.testimonials-card-icon-04 {
  width: 37px;
  height: 37px;
  padding-right: 10px;
  background-image: url(../../assets/icons/Ellipse\ 2\(2\).svg);
  background-repeat: no-repeat;
}

.testimonials-card-name {
  display: block;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.testimonials-card-location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #BDBDBD;
}

.testimonials-text {
  width: 237px;
  height: 309px;
  margin: 0 auto;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.testimonials-scroll {
  width: 599px;
  height: 8px;
  margin: 0 auto;
  margin-top: 21px;
  background-image: url(../../assets/icons/line_scrol.svg);
}

.button-feedback {
  width: 298px;
  height: 54px;
  margin-top: 31px;
  border: none;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.leaf-foto {
  width: 300px;
  height: 295px;
  position: absolute;
  bottom: -22px;
  left: 1354px;
  background-image: url(../../assets/images/lf1.png);
}

.footer {
  width: 1600px;
  height: 443px;
  padding-top: 40px;
  background: #111115;
}

.footer-container {
  width: 1160px;
  height: 352px;
  margin: 0 auto;
}

.logo-email-container {
  width: 1160px;
  height: 85px;
  display: flex;
  justify-content: space-between;
}

.search-block {
  width: 367px;
}

.footer-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #FFFFFF;
}

.button-submit {
  width: 129px;
  height: 42px;
  margin-top: 14px;
  background: #F1F3F2;
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #4B9200;
}

#email {
  width: 228px;
  height: 42px;
  margin-top: 14px;
  background: #000;
  border: 1px solid #F9804B;
  color: gray;

}

.lower-container {
  width: 1160px;
  height: 262px;
  display: flex;
}

.lower-container-01 {
  width: 298px;
}

.lower-container-02 {
  width: 362px;
  margin-left: 101px;
  margin-top: 245px;
}

.lower-container-03 {
  width: 228px;
  height: 55px;
  margin-left: 171px;
  margin-top: 225px;
}

.lower-lower-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.lower-container-02 ul {
  display: flex;
  justify-content: space-between;
}

.button-footer {
  width: 298px;
  height: 54px;
  margin-top: 36px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.social {
  margin-top: 44px;
}

.social li div{
  cursor: pointer;
}

.lower-container ul li {
  display: flex;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.lower-container ul li span{
  margin-top: 7px;
}


.fb-logo {
  width: 32px;
  height: 32px;
  padding-right: 12px;
  background-image: url(../../assets/icons/facebook.png);
  background-repeat: no-repeat;
}

.tw-logo {
  width: 32px;
  height: 32px;
  padding-right: 12px;
  background-image: url(../../assets/icons/twitter.png);
  background-repeat: no-repeat;
}

.ig-logo {
  width: 32px;
  height: 32px;
  padding-right: 12px;
  background-image: url(../../assets/icons/instagram.png);
  background-repeat: no-repeat;
}

.yt-logo {
  width: 32px;
  height: 32px;
  padding-right: 12px;
  background-image: url(../../assets/icons/youtube.png);
  background-repeat: no-repeat;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}